bcrypt==3.1.7
cffi==1.14.3
click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mysql-connector-python==8.0.19
numpy==1.18.5
Pillow==8.2.0
protobuf==3.13.0
pycparser==2.20
pygame==1.9.6
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
simple-pid==0.2.4
six==1.15.0
Werkzeug==1.0.1
gunicorn==20.0.4
