<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="/static/images/favicon.png"/>
        <title>KJSCE MediStore</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom.js"></script>
    </head>
    <body>
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4" id="logo" >
                  <a href="{{ url_for('mhome') }}" class="logo-text">
                      KJSCE<span style="color:#39BAF0; font-size:40px">Pharmacy</span>
                  </a>
              </div>
              <div class="col-md-5 col-sm-12 col-xs-12" style="display:none " id="navbar_hide" >
                  <nav  role="navigation" class="navbar navbar-inverse">
                      <a href="{{ url_for('mhome') }}" style="float: left" class="logo-text">
                          Medi<span style="color:#39BAF0; font-size:40px">STORE</span>
                      </a>
                      <div id="nav">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: #8EBE08; border: none; margin-right: 0">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>

                      </div>
                  </nav>
              </div>
              <div class="col-md-4 col-md-offset-4 col-sm-offset-2  col-sm-6 col-xs-12" >
                  <div id="top_right">
                      <div id="cart">
                          <div class="text">
                              <div class="img">
                                  <a href="{{ url_for('cart') }}"> <img class="img-responsive" src="/static/images/cart.png" alt="" title="" width="26" height="27" /></a>
                              </div><span>Your cart:</span><span class="cart_total">Rs. {{ '%0.2f'| format(subtotal|float) }}</span><span class="cart_items">({{ items_len }} items)</span>
                              <div class="col-md-6 col-xs-6 wd_auto">
                                    <div class="left">
                                        <div class="login">
                                            <a class="btn btn-default reg_button" href="{{ url_for('cart') }}">Cart</a> 
                                            <a class="btn btn-default reg_button" href="{{ url_for('checkout') }}">Checkout</a>
                                            <div class="dropdown btn-group">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Hi {{ session['person'] }} 
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ url_for('updatepassword') }}">Update Password</a></li>
                                                    <li><a href="{{ url_for('logout') }}">Logout</a></li>

                                                </ul>
                                            </div>
                                        </div>      
                                            
                                    </div>
                                </div> 
                          </div>
                      </div>
                      <div id="bottom_right">
                          <div class="row">

                              <div class="dropdown-bn wd-33 col-md-6 remove_PL col-xs-6">
                                  <div class="row">
                                      <div class=" pl-0 col-md-6 col-xs-6">


                                      </div>


                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>

        <div class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                          </button>
                          <strong>{{ message }}</strong>
                        </div>
                      {% endfor %}
                    {% endif %}
            {% endwith %}
                  {% block content %}{% endblock %}
            <div class="container cart-block-style">
                <div class="breadcrumbs">
                    <a href="{{ url_for('mhome') }}"><i class="fa fa-home"></i></a>
                    <a href="#">Shopping Cart</a>
                </div>
                <div class="contentText">
                    <h1>Shopping Cart
                    </h1>
                </div>
                    <div class="table-responsive margin-top">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-left">PRODUCT NAME</td>
                                    <td class="text-left">BRAND</td>
                                    <td class="text-left">QUANTITY</td>
                                    <td class="text-right">UNIT PRICE</td>
                                    <td class="text-right">TOTAL</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td class="text-center">
                                        <a href="{{ url_for('singleproduct', pid=item[4], rol=item[7]) }}">
                                            <img title="ana"  src="/static/images/img1.png" style="width: 100px; height: 80px;">
                                        </a>
                                    </td>
                                    <td class="text-left"><a href="{{ url_for('singleproduct', pid=item[4], rol=item[7]) }}">{{ item[3] }}</a>
                                        <br>
                                        <small>Purpose: {{ item[6] }}</small>
                                        <br>
                                        <small>Type: {{ item[7] }}</small>
                                    </td>
                                    <td class="text-left"><br>{{ item[5] }}</td>
                                    <td class="text-left"><br><div style="max-width: 200px;" class="input-group btn-block">
                                        <form action="{{ url_for('item') }}" method="POST">
                                            <span class="input-group-btn">
                                              <input type="hidden" name="med_role" value="{{ item[7] }}" />
                                              <input type="hidden" name="item_id" value="{{ item[0] }}" />
                                              <input type="hidden" name="med_id" value="{{ item[4] }}" />
                                              <input type="number" class="form-control quantity" min="{{ val }}" max="{{ item[2] }}" name="quantity" value="{{ item[9] }}" type="submit">
                                                <button class="btn btn-primary" title="" data-toggle="tooltip" value="update" name="type" data-original-title="Update" type="submit"><i class="fa fa-refresh"></i></button>
                                                <button class="btn btn-danger" title="" data-toggle="tooltip" value="delete" name="type" data-original-title="Remove" type="submit"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </form>  
                                        </div>  
                                    </td>
                                    <td class="text-right">Rs. {{ '%0.2f'| format(item[1]|float) }} </td>
                                    <td class="text-right">Rs. {{ '%0.2f'| format(item[1]*item[9]|float) }}</td>
                                </tr>
                            {% endfor %}
                            
                            </tbody>
                        </table>
                    </div>
                <h2>What would you like to do next?</h2>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#collapse-coupon" aria-expanded="true">Use Coupon Code <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-coupon" style="" aria-expanded="true">
                            <div class="panel-body">
                                <form action="{{ url_for('coupon') }}" method="POST">
                                <label for="input-coupon" class="col-sm-2 control-label">Enter your coupon Code here</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon Code here" value="" name="coupo">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"  id="button-coupon" value="Apply Coupon" >Apply Coupon</button>
                                    </span></div>
                                  </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed" href="#collapse-shipping" aria-expanded="false">Estimate Shipping &amp; Taxes <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-shipping" style="height: 0px;" aria-expanded="false">
                            <div class="panel-body">
                                <p>Enter your destination to get a shipping estimate.</p>
                                <div class="form-horizontal">
                                    <div class="form-group required">
                                        <label for="input-country" class="col-sm-2 control-label">Country</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="input-country" name="country_id">
                                                <option value=""> --- Please Select --- </option>
                                                <option value="244">India</option>
                                                <option value="1">Afghanistan</option>
                                                <option value="2">Albania</option>
                                                <option value="3">Algeria</option>
                                                <option value="4">American Samoa</option>
                                                <option value="5">Andorra</option>
                                                <option value="6">Angola</option>
                                                <option value="7">Anguilla</option>
                                                <option value="8">Antarctica</option>
                                                <option value="9">Antigua and Barbuda</option>
                                                <option value="10">Argentina</option>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-zone" class="col-sm-2 control-label">Region / State</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="input-zone" name="zone_id"><option value=""> --- Please Select --- </option>
                                                <option value="3513">Aberdeen</option>
                                                <option value="3514">Aberdeenshire</option>
                                                <option value="3515">Anglesey</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-postcode" class="col-sm-2 control-label">Post Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-postcode" placeholder="Post Code" value="" name="postcode">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary"  id="button-quote" type="button">Get Quotes</button>
                                </div>

                            </div>
                        </div>
                    </div> -->
                    
                <br>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody><tr>
                            <strong style="font-size: 30px;float: right">Pricing Details</strong>
                            <td class="text-right"><strong>Sub-Total:</strong></td>
                            <td class="text-right">Rs. {{ '%0.2f'| format(subtotal|float) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Coupon Code:</strong></td>
                                <td class="text-right">Rs. {{ '%0.2f'| format(coupon|float) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>P-Owner Discount:</strong></td>
                                <td class="text-right">Rs. {{ '%0.2f'| format(dis|float) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>GST (20%):</strong></td>
                                <td class="text-right">Rs. {{ '%0.2f'| format(subtotal*0.2|float) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Order Total:</strong></td>
                                <td class="text-right">Rs. {{ '%0.2f'| format(subtotal*1.2 - coupon -  dis|float) }}</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a class="btn btn-default" href="{{ url_for('mhome') }}"><i class="fa fa-caret-right"></i>&nbsp;Continue Shopping</a></div>
                    <div class="pull-right"><a class="btn btn-primary reg_button" href="{{ url_for('checkout') }}">Checkout</a></div>
                </div>
            </div>
        </div>


        <div id="footer1">
            <div class="container-fluid footer-background">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12 txt-center">
                                <a href="{{ url_for('mhome') }}">
                                    <span class="logo-text">DRUGSTORE</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a style="display: none" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </body>
</html>
