

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="/static/images/favicon.png"/>
        <title>KJSCE MediStore</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/> 
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4" id="logo" >
                    <a href="home.html" class="logo-text">
                        KJSCE<span style="color:#39BAF0; font-size:40px">Pharmacy</span>
                    </a>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12" style="display:none " id="navbar_hide" >
                    <nav  role="navigation" class="navbar navbar-inverse">
                        <a href="home.html" style="float: left" class="logo-text">
                            Medi<span style="color:#39BAF0; font-size:40px">STORE</span>
                        </a>
                        <div id="nav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: #8EBE08; border: none; margin-right: 0">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                        </div>
                    </nav>
                </div>
                <br>
                <div class="col-md-4 col-md-offset-4 col-sm-offset-2  col-sm-6 col-xs-12" >
                    <div id="top_right" class="pl_0 col-md-6 col-xs-6">
                                <H5><a class="btn btn-default" href="{{ url_for('logout') }}">Logout</a></H5>
                                
                            </div>
                            <div class="dropdown btn-group">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Hi {{ session['person'] }} 
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ url_for('updatepassword') }}">Update Password</a></li>

                                                </ul>
                                            </div>
                        <div id="bottom_right">
                            <div class="row">

                                <!-- <div class="dropdown-bn wd-33 col-md-6 remove_PL col-xs-6">
                                    <div class="row">
                                        <div class=" pl-0 col-md-6 col-xs-6">


                                        </div>


                                    </div>

                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container" >
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                          </button>
                          <strong>{{ message }}</strong>
                        </div>
                      {% endfor %}
                    {% endif %}
            {% endwith %}
                  {% block content %}{% endblock %}
            <div class="row" id="search_manu" style="margin-top: 10px">
                <form  action="{{ url_for('qsearchsup') }}" method="POST">
                <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Enter search keywords here" class="form-control input-lg" id="inputGroup"
                                name="searc"/>
                                <span class="input-group-addon">
                                    <button class="btn btn-default" type="submit" style="color:white">Search</button>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 col-xs-12">

                        <div class="form-group">
                            <div class="">
                                <select  style="font-size: 14px; background: #EAEAEA; border: none;"  placeholder="Select Medicine Type" size="1" class="input-lg form-control arrow-hide date_class" name="type">
                                    <option value="" selected="selected">Select Medicine Type</option>
                                    <option value="local">Local</option>
                                    <option value="generic">Generic</option>

                                </select>

                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>

        <div id="site_content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 left_sidebar1">
                        <div id="left_part">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Categories</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i  id="accordan_plus" class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="infoBoxContents">
                                                    <a href="{{ url_for('supproduct', pur='p1') }}">Category One (p1)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p2') }}">Category Two (p2)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p3') }}">Category Three (p3)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p4') }}">Category Four (p4)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p5') }}">Category Five (p5)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p6') }}">Category Six (p6)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p7') }}">Category Seven (p7)</a><br />
                                                    <a href="{{ url_for('supproduct', pur='p8') }}">Category Eight (p8)</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="infoBoxHeading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What's New</a>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i id="accordan_plus" class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="infoBoxContents">    
                                                    <h4><a href="{{ url_for('favourites') }}">Favourites</a><br /></h4>   
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>

                            </div>
                        </div>
                        <script>
                            function toggleChevron(e) {
                                $(e.target)
                                        .prev('.panel-heading')
                                        .find("i.indicator")
                                        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
                            }
                            $('#accordion').on('hidden.bs.collapse', toggleChevron);
                            $('#accordion').on('shown.bs.collapse', toggleChevron);
                        </script>

                    </div> 
                    <div class="col-md-9 col-sm-8 col-xs-12" id="content">            
                        <div class="contentText">
                            <div class="breadcrumbs">
                    <a href="{{ url_for('mhome') }}"><i class="fa fa-home"></i></a>
                    <a href="{{ url_for('checkout') }}">{{ session['role'] }} Page</a>
                </div>
                <h1 class="text-center text-uppercase text-bold">{{ session['role'] }}</h1>
                <hr class="small-line">
                <div id="accordion" class="panel-group margin-top">
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-checkout-option">Step 1: Checkout Options <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div id="collapse-checkout-option" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body"><div class="row">-->
                                <!-- <form action="{{ url_for('supplier') }}" method="POST"> -->    
                                <!--<div class="col-sm-6">
                                        <h2>New Customer</h2>
                                        <p>Checkout Options:</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" checked="checked" value="register" name="account">
                                                Register Account</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="guest" name="account">
                                                Guest Checkout</label>
                                        </div>
                                        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                        <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-account" value="Continue">
                                    </div>
                                    <div class="col-sm-6">
                                        <h2>Returning Customer</h2>
                                        <p>I am a returning customer</p>
                                        <div class="form-group">
                                            <label for="input-email" class="control-label">E-Mail</label>
                                            <input type="text" class="form-control" id="input-email" placeholder="E-Mail" value="" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="input-password" class="control-label">Password</label>
                                            <input type="password" class="form-control" id="input-password" placeholder="Password" value="" name="password">
                                            <br/>
                                            <a href="#">Forgot Password</a></div>
                                        <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-login" value="Login">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="panel panel-default">
                        <form action="{{ url_for('supplier') }}" method="POST">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-payment-address">Add Item <i class="fa fa-caret-down"></i></a></h2>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-payment-address" style="height: auto;">
                            <div class="panel-body"><div class="row">
                                    <div class="col-sm-6">
                                        <fieldset id="account">
                                            <legend>Medicine Details</legend>
                                            <div style="display: none;" class="form-group">
                                                <label class="control-label">Medicine Group</label>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" value="1" name="customer_group_id">
                                                        Default</label>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-firstname" class="control-label">Medicine ID</label>
                                                <input type="number" class="form-control" id="input-payment-medid" placeholder="Medicine ID" value="" name="medid">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-firstname" class="control-label">Medicine Name</label>
                                                <input type="text" class="form-control" id="input-payment-firstname" placeholder="Medicine Name" value="" name="mname">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-lastname" class="control-label">Brand Name</label>
                                                <input type="text" class="form-control" id="input-payment-lastname" placeholder="Brand Name" value="" name="bname">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-email" class="control-label">Category</label>
                                                <input type="text" class="form-control" id="input-payment-email" placeholder="category" value="" name="purpose">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-telephone" class="control-label">Medicine Type</label>
                                                <input type="text" class="form-control" id="input-payment-telephone" placeholder="Medicine Type" value="" name="role">
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="input-payment-fax" class="control-label">Fax</label>
                                                <input type="text" class="form-control" id="input-payment-fax" placeholder="Fax" value="" name="fax">
                                            </div> -->
                                        </fieldset>
                                        <!-- <fieldset>
                                            <legend>Your Password</legend>
                                            <div class="form-group required">
                                                <label for="input-payment-password" class="control-label">Password</label>
                                                <input type="password" class="form-control" id="input-payment-password" placeholder="Password" value="" name="password">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-confirm" class="control-label">Password Confirm</label>
                                                <input type="password" class="form-control" id="input-payment-confirm" placeholder="Password Confirm" value="" name="confirm">
                                            </div>
                                        </fieldset> -->
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset id="address" class="required">
                                           <legend> ...</legend>
                                            <!-- <div class="form-group">
                                                <label for="input-payment-company" class="control-label">Company</label>
                                                <input type="text" class="form-control" id="input-payment-company" placeholder="Company" value="" name="company">
                                            </div> -->
                                            <div class="form-group required">
                                                <label for="input-payment-address" class="control-label">Expiry Date</label>
                                                <input type="datetime-local" data-date-format="YYYY MM DD" class="form-control" id="input-payment-address" placeholder="Expiry Date (yyyy-mm-dd)" value="" name="expiry">
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="input-payment-address-2" class="control-label">Address 2</label>
                                                <input type="text" class="form-control" id="input-payment-address-2" placeholder="Address 2" value="" name="address_2">
                                            </div> -->
                                            <div class="form-group required">
                                                <label for="input-payment-city" class="control-label">Dosage Form</label>
                                                <input type="text" class="form-control" id="input-payment-city" placeholder="Dosage Form" value="" name="dform">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-postcode" class="control-label">Price Per Sheet</label>
                                                <input type="number" class="form-control" id="input-payment-postcode" placeholder="Price Per Sheet" value="" name="price">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-postcode" class="control-label">Quantity</label>
                                                <input type="number" class="form-control" id="input-payment-postcode" placeholder="Quantity" value="" name="quantity">
                                            </div>
                                            <br>
                                            <div class="buttons">
                                            <div class="pull-right">
                                                <input type="hidden" name="type" value="add">
                                                <button type="submit"  class="btn btn-primary" id="button-confirm" value="Add Item" name="Confirm Order">Add Item</button>
                                            </div>
                                        </div>
                                            <!-- <div class="form-group required">
                                                <label for="input-payment-country" class="control-label">Country</label>
                                                <select class="form-control" id="input-payment-country" name="country_id">
                                                    <option value=""> --- Please Select --- </option>
                                                    <option value="1">Afghanistan</option>
                                                    <option value="2">Albania</option>
                                                    <option value="3">Algeria</option>
                                                    <option value="4">American Samoa</option>
                                                    <option value="5">Andorra</option>
                                                    <option value="6">Angola</option>
                                                    <option value="7">Anguilla</option>
                                                    <option value="8">China</option>
                                                    <option value="9">India</option>
                                                    <option value="10">Japan</option>

                                                </select>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-zone" class="control-label">Region / State</label>
                                                <select class="form-control" id="input-payment-zone" name="zone_id">
                                                    <option value=""> --- Please Select --- </option><option value="3513">Aberdeen</option>
                                                    <option value="3514">Aberdeenshire</option><option value="3515">Anglesey</option>
                                                    <option value="3516">Angus</option><option value="3517">Argyll and Bute</option>
                                                    <option value="3518">Bedfordshire</option><option value="3519">Berkshire</option>
                                                    <option value="3520">Blaenau Gwent</option>
                                                    <option value="3522">Bridgend</option>
                                                    <option value="3523">Maharashtra</option>
                                                    <option value="3524">Punjab</option>
                                                    <option value="3525">Gujarat</option>
                                                </select>
                                            </div> -->
                                        </fieldset>
                                    </div>
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" value="1" name="shipping_address">
                                        My delivery and billing addresses are the same.</label>
                                </div> -->
                                <!-- <div class="buttons clearfix">
                                    <div class="pull-right">I have read and agree to the <a class="agree" href="#"><b>Privacy Policy</b></a> &nbsp;
                                        <input type="checkbox" required value="1" name="agree" style="vertical-align: text-bottom">
                                        <-- <button type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-register" value="Continue"></button> -->
                                    </div>
                                    <script>
                                    document.getElementById("button-register").onclick = function() {myFunction()};                  
                                    function myFunction() {
                                      document.getElementById("collapse-payment-address").classList.toggle("collapse");
                                      document.getElementById("collapse-payment-method").classList.toggle("collapse");

                                    }
                                    </script>
                                </div>

                            </div>
                        </div>
                    </form>
                    </div>

                    <div class="panel panel-default">
                        <form action="{{ url_for('supplier') }}" method="POST">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-checkout-option">Update Item <i class="fa fa-caret-down"></i></a></h2>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-payment-address" style="height: auto;">
                            <div class="panel-body"><div class="row">
                                    <div class="col-sm-6">
                                        <fieldset id="account">
                                            <legend>Medicine Details</legend>
                                            <div style="display: none;" class="form-group">
                                                <label class="control-label">Medicine Group</label>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" value="1" name="customer_group_id">
                                                        Default</label>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-firstname" class="control-label">Medicine Name</label>
                                                <input type="text" class="form-control" id="input-payment-firstname" placeholder="Medicine Name" value="" name="mname">
                                            </div>
                                            <!-- <div class="form-group required">
                                                <label for="input-payment-lastname" class="control-label">Brand Name</label>
                                                <input type="text" class="form-control" id="input-payment-lastname" placeholder="Brand Name" value="" name="bname">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-email" class="control-label">Category</label>
                                                <input type="text" class="form-control" id="input-payment-email" placeholder="category" value="" name="purpose">
                                            </div> -->
                                            <div class="form-group required">
                                                <label for="input-payment-telephone" class="control-label">Medicine Type</label>
                                                <input type="text" class="form-control" id="input-payment-telephone" placeholder="Medicine Type" value="" name="role">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-postcode" class="control-label">Price Per Sheet</label>
                                                <input type="number" class="form-control" id="input-payment-postcode" placeholder="Price Per Sheet" value="" name="price">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-postcode" class="control-label">Quantity</label>
                                                <input type="number" class="form-control" id="input-payment-postcode" placeholder="Quantity" value="" name="quantity">
                                            </div>
                                            <div class="buttons">
                                            <div class="pull-right">
                                                <input type="hidden" name="type" value="update">
                                                <button type="submit"  class="btn btn-primary" id="button-confirm" value="Confirm Order" name="Confirm Order">Update Item</button>
                                            </div>
                                        </div>
                                            <!-- <div class="form-group">
                                                <label for="input-payment-fax" class="control-label">Fax</label>
                                                <input type="text" class="form-control" id="input-payment-fax" placeholder="Fax" value="" name="fax">
                                            </div> -->
                                        </fieldset>
                                        <!-- <fieldset>
                                            <legend>Your Password</legend>
                                            <div class="form-group required">
                                                <label for="input-payment-password" class="control-label">Password</label>
                                                <input type="password" class="form-control" id="input-payment-password" placeholder="Password" value="" name="password">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-confirm" class="control-label">Password Confirm</label>
                                                <input type="password" class="form-control" id="input-payment-confirm" placeholder="Password Confirm" value="" name="confirm">
                                            </div>
                                        </fieldset> -->
                                    </div>
                                    <!-- <--  -->
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" value="1" name="shipping_address">
                                        My delivery and billing addresses are the same.</label>
                                </div> -->
                                <!-- <div class="buttons clearfix">
                                    <div class="pull-right">I have read and agree to the <a class="agree" href="#"><b>Privacy Policy</b></a> &nbsp;
                                        <input type="checkbox" required value="1" name="agree" style="vertical-align: text-bottom">
                                        <-- <button type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-register" value="Continue"></button> -->
                                    </div>
                                    <script>
                                    document.getElementById("button-register").onclick = function() {myFunction()};                  
                                    function myFunction() {
                                      document.getElementById("collapse-payment-address").classList.toggle("collapse");
                                      document.getElementById("collapse-payment-method").classList.toggle("collapse");

                                    }
                                    </script>
                                </div> 

                            </div>
                        </div>
                    </form>
                    </div>
<!--                 </form>
 -->                </div>


            </div>
            </div>
        </div>

        <div id="footer1">
            <div class="container-fluid footer-background">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12 txt-center">
                                <a href="home.html">
                                    <span class="logo-text">DRUGSTORE</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a style="display: none" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </body>
</html> 